PORT=3000
SECRET_KEY=coffeescale-secret-2025
MOCKAPI_BASE_URL=https://6e0690529c070e6597b70e2.mockapi.io
LOGISCORE_URL=https://6e0690529c070e6597b70e2.mockapi.io/ordenes
UMBRAL_ALERTA_PCT=20
CAPACIDAD_SACO_GRAMOS=50000
EMAIL_USER=
EMAIL_PASS=
EMAIL_DEST=gerente@andinaroasters.com
